@using Fancy.Common.Constants;

@model GalleryItemsViewModel

<div class="gallery group" id="result-items">
    @foreach (var item in Model.ItemsList)
    {
        <div class="item-holder left">
            <div class="card panel">
                <div class="card-content blue-text text-darken-2">
                    <span class="bold">Item code:&nbsp</span> <span class="item-info">@item.ItemCode</span>
                    <img src="@item.ImageBase64String" alt="Alternate Text" class="item-img-gallery" />
                    <br />
                    <span class="bold">Price:&nbsp</span>
                    @if (item.Discount == 0)
                    {
                        <span class="item-info">
                            @string.Format("{0:0.00}", item.Price) BGN
                        </span>
                    }
                    else
                    {
                        <span class="item-info red">
                            @string.Format("{0:0.00}", item.Price * ((100 - item.Discount)) / 100) BGN
                        </span>
                    }
                    <br />
                    <span class="bold">Quantity left:&nbsp</span> <span class="item-info">@item.Quantity</span>
                </div>
                @if (User.IsInRole(UserConstants.AdministratorRole) || User.IsInRole(UserConstants.AdministratorRole))
                {
                    <div>
                        @Html.ActionLink("View more", "SingleItem", "Items", new { area = "Items", itemId = item.Id }, new { @class = "btn btn-primary" })
                    </div>
                }
            </div>
        </div>
    }
</div>
