@using Fancy.Web.Areas.Profile.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProfilePageViewModel

@Styles.Render("~/Content/profile.css")

<div id="basket">
    <h3>
        BASKET
    </h3>
    @if (Model.OrderInBasket == null)
    {
        <h4>Empty</h4>
    }
    else
    {
        decimal totalPrice = 0;
        <hr />
        <div class="group">
            @foreach (var item in Model.OrderInBasket.Items)
            {
                totalPrice += (item.Price * (100 - item.Discount) / 100);
                <div class="item-holder left">
                    <div class="card panel">
                        <div class="card-content blue-text text-darken-2">
                            <span class="bold">Item code:&nbsp</span> <span class="item-info">@item.ItemCode</span>
                            <img src="@item.ImageBase64String" alt="Alternate Text" class="item-img-gallery" />
                            <span class="bold">Price:&nbsp</span>
                            @if (item.Discount == 0)
                            {
                                <span class="item-info">
                                    @string.Format("{0:0.00}", item.Price) BGN
                                </span>
                            }
                            else
                            {
                                <span class="item-info red">
                                    @string.Format("{0:0.00}", item.Price * ((100 - item.Discount)) / 100) BGN
                                </span>
                            }
                            <br />
                            @Html.ActionLink("Remove", "RemoveItemFromBasket", "Profile", new { area = "Profile", itemId = item.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }
        </div>
        <span class="bold">Total price:&nbsp</span>
        <span class="item-info">
            @totalPrice BGN
        </span>
        <br />
        @Html.ActionLink("BUY", "ExecuteOrder", "Profile", new { area = "Profile", orderId = Model.OrderInBasket.Id }, new { @class = "btn btn-success" })
    }
</div>
<br />
<div id="previous-orders">
    <h3>
        Previous orders
    </h3>
    @if (Model.PreviousOrders.Count() == 0)
    {
        <h4>Empty</h4>
    }
    else
    {
        foreach (var order in Model.PreviousOrders)
        {
            decimal totalPrice = 0;
            <hr />
            <div class="group">
                @foreach (var item in order.Items)
                {
                    totalPrice += (item.Price * (100 - item.Discount) / 100);
                    <div class="item-holder left">
                        <div class="card panel">
                            <div class="card-content blue-text text-darken-2">
                                <span class="bold">Item code:&nbsp</span> <span class="item-info">@item.ItemCode</span>
                                <img src="@item.ImageBase64String" alt="Alternate Text" class="item-img-gallery" />
                                <span class="bold">Price:&nbsp</span>
                                @if (item.Discount == 0)
                                {
                                    <span class="item-info">
                                        @string.Format("{0:0.00}", item.Price) BGN
                                    </span>
                                }
                                else
                                {
                                    <span class="item-info red">
                                        @string.Format("{0:0.00}", item.Price * ((100 - item.Discount)) / 100) BGN
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <span class="bold">Total price:&nbsp</span>
            <span class="item-info">
                @totalPrice BGN
            </span>
        }
    }
</div>

