@using Fancy.Web.Areas.Profile.Models;

@model ProfilePageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="basket">
    <h3>
        BASKET
    </h3>
    @if (Model.OrderInBasket == null || Model.OrderInBasket.Items.Count == 0)
    {
        <h4>Empty</h4>
    }
    else
    {
        <hr />
        <div class="group">
            @foreach (var item in Model.OrderInBasket.Items)
            {
                Model.OrderInBasket.TotalPrice += (item.Price * (100 - item.Discount) / 100);
                <div class="item-holder left">
                    <div class="card panel">
                        <div class="card-content blue-text text-darken-2">
                            <span class="bold">Item code:&nbsp</span> <span class="item-info">@item.ItemCode</span>
                            <img src="@item.ImageBase64String" alt="Alternate Text" class="item-img-gallery" />
                            <span class="bold">Price:&nbsp</span>
                            @if (item.Discount == 0)
                            {
                                <span class="item-info">
                                    @string.Format("{0:0.00}", item.Price) BGN
                                </span>
                            }
                            else
                            {
                                <span class="item-info red">
                                    @string.Format("{0:0.00}", item.Price * ((100 - item.Discount)) / 100) BGN
                                </span>
                            }
                            <br />
                            @Html.ActionLink("Remove", "RemoveItemFromBasket", "Profile", new { area = "Profile", itemId = item.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }
        </div>
        <span class="bold">Total price:&nbsp</span>
        <span class="item-info">
            @string.Format("{0:0.00}", Model.OrderInBasket.TotalPrice) BGN
        </span>
        <br />
        @Html.ActionLink("BUY", "ExecuteOrder", "Profile", new { area = "Profile", orderId = Model.OrderInBasket.Id, totalPrice = Model.OrderInBasket.TotalPrice }, new { @class = "btn btn-success" })
    }
</div>
<br />
<div id="previous-orders">
    <h3 id="previous-orders-title">
        Previous orders
    </h3>
    <div id="previous-orders-holder">
        @if (Model.PreviousOrders.Count() == 0)
        {
            <h4>Empty</h4>
        }
        else
        {
            foreach (var order in Model.PreviousOrders)
            {
                <hr />
                <span class="bold">
                    Purchased on:&nbsp
                </span>
                <span class="bold">
                    @string.Format("{0}.{1}.{2}", order.PurchaseDate.Day, order.PurchaseDate.Month, order.PurchaseDate.Year)
                </span>
                <div class="group">
                    @foreach (var item in order.Items)
                    {
                        <div class="item-holder left">
                            <div class="card panel">
                                <div class="card-content blue-text text-darken-2">
                                    <span class="bold">
                                        Item code:&nbsp
                                    </span>
                                    <span class="item-info">
                                        @item.ItemCode
                                    </span>
                                    <img src="@item.ImageBase64String" alt="Alternate Text" class="item-img-gallery" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <span class="bold">Total price:&nbsp</span>
                <span class="item-info">
                    @string.Format("{0:0.00}", order.TotalPrice) BGN
                </span>
            }
        }
    </div>
</div>

@section styles {
    @Styles.Render("~/Content/profile.css")
}


@section scripts {
    @Scripts.Render("~/Scripts/custom/previous-orders.js")
}