@model ViewGalleryItems

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/gallery.css")

<div>
    <h1>@Model.GalleryTitle </h1>
    <div class="filters-holder">
        @Html.EnumDropDownListFor(m => m.Colour, "Select colour", new { @class = "form-control item-filter" })
        @Html.EnumDropDownListFor(m => m.Material, "Select material", new { @class = "form-control item-filter" })
        @Html.EnumDropDownListFor(m => m.PriceFilter, "Select price order", new { @class = "form-control item-filter" })
    </div>

    <div class="gallery group">
        @foreach (var item in Model.ItemsList)
        {
            <div class="item-holder left">
                <div class="card panel">
                    <div class="card-content blue-text text-darken-2">
                        <span class="bold">Item code:&nbsp</span> <span class="item-info">@item.ItemCode</span>
                        <img src="@item.ImageBase64String" alt="Alternate Text" class="item-img-gallery" />
                        <span class="bold">Price:&nbsp</span>
                        <span class="item-info">
                            @item.Price BGN
                        </span>
                        <br />
                        <span class="bold">Quantity left:&nbsp</span> <span class="item-info">@item.Quantity</span>
                    </div>
                    <div>
                        @Html.ActionLink("View more", "SingleItem", "Items", new { area = "Items", itemId = item.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
    <ul class="pagination pagination-sm">
        @for (int i = 1; i <= Model.PageButtonsCount; i += 1)
        {
            <li>
                @Html.ActionLink(i.ToString(), "GalleryItems", "Items", new { area = "Items", pageNumber = i, type = Model.ItemType, colour = Model.Colour, material = Model.Material, priceFilter = ViewBag.PriceFilter }, null)
            </li>
        }
        @*<li class="active"><a href="#">1</a></li>*@
    </ul>
</div>
