@model SingleItemViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/single-item.css")

<div class="single-item-holder">
    <div class="card panel">
        <span class="bold">Item code:&nbsp</span> <span class="item-info">@Model.ItemCode</span>
        <br />
        <img src="@Model.ImageBase64String" alt="Alternate Text" class="item-img-single" />
        <br />
        <span class="bold">Colour:&nbsp</span><span>@Model.MainColour</span>
        <br />
        <span class="bold">Material:&nbsp</span><span>@Model.MainMaterial</span>
        <br />
        <span class="bold">Price:&nbsp</span>
        @if (Model.Discount == 0)
        {
            <span class="item-info">
                @string.Format("{0:0.00}", Model.Price) BGN
            </span>
        }
        else
        {
            <span class="item-info red">
                @string.Format("{0:0.00}", Model.Price * ((100 - Model.Discount)) / 100) BGN
            </span>
        }
        <br />
        <span class="bold">Quantity left:&nbsp</span> <span class="item-info">@Model.Quantity</span>
    </div>
    @if (User.IsInRole(UserConstants.RegularRole) || User.IsInRole(UserConstants.AdministratorRole))
    {
        <div class="card-action">
            @Html.ActionLink("Add to basket", "AddItemToBasket", "Profile", new { area = "Profile", itemId = Model.Id, discount = Model.Discount }, new { @class = "btn btn-primary" })
        </div>
        <br />
    }
    @if (User.IsInRole(UserConstants.AdministratorRole))
    {
        if (Model.Discount == 0)
        {
            <div class="card-action add-promo">
                @using (Html.BeginForm("AddPromotion", "Promotions", new { area = "Items", itemId = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <label>
                        Discount:
                    </label>
                    <br />
                    @Html.EditorFor(m => m.Discount, new { @type = "number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Discount, string.Empty, new { @class = "red" })
                    <br />
                    <br />
                    <button type="submit" class="btn btn-primary">
                        Add promotion
                    </button>
                }
            </div>
        }
        else
        {
            <div class="card-action remove-promo">
                @Html.ActionLink("Remove promotion", "RemovePromotion", "Promotions", new { area = "Items", itemId = Model.Id }, new { @class = "btn btn-primary promo-but" })
            </div>
        }
    }
</div>