<aside class="left">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">@Html.ActionLink("Our Jewellry", "Index", "Home", new { area = "Items" }, null)</li>
        <li>@Html.ActionLink("Necklaces", "GalleryItems", "Items", new { area = "Items", pageNumber = 1, itemType = "Necklace" }, null)</li>
        <li>@Html.ActionLink("Earings", "GalleryItems", "Items", new { area = "Items", pageNumber = 1, itemType = "Earings" }, null)</li>
        <li>@Html.ActionLink("Bracelets", "GalleryItems", "Items", new { area = "Items", pageNumber = 1, itemType = "Bracelet" }, null)</li>
        <li>@Html.ActionLink("Sets", "GalleryItems", "Items", new { area = "Items", pageNumber = 1, itemType = "Set" }, null)</li>
    </ul>
</aside>
