<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Fancy.com</title>
    @Styles.Render("~/Content/silver-theme.css")
    @Styles.Render("~/Content/shared.css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            @Html.ActionLink("FANCY.COM", "HomePage", "Home", new { area = "" }, new { @class = "navbar-item", id = "navbar-home-id" })
            @Html.ActionLink("Home", "HomePage", "Home", new { area = "" }, new { @class = "navbar-item", id = "navbar-home-id" })
            @Html.ActionLink("New Items", "GalleryItemsNew", "Items", new { area = "Items", pageNumber = 1 }, new { @class = "navbar-item", id = "navbar-newest-id" })
            @Html.ActionLink("Promotions", "GalleryItemsPromotions", "Items", new { area = "Items", pageNumber = 1 }, new { @class = "navbar-item", id = "navbar-promotions-id" })
            @Html.Partial("_LoginPartial")
        </nav>
    </header>
    <div id="container">
        <div class="row">
            @Html.Partial("_AsideNavPartial")
            <main class="left">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Georgi Velikov</p>
                </footer>
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
