@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div class="navbar-right">
        @if (User.IsInRole("Administrator"))
        {
                @Html.ActionLink("Admin area", "Index", "Admin", new { area = "Admin" }, new { id = "adminAreaLink", @class = "navbar-item navbar-account-item" })
        }
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Home", new { area = "" }, new { id = "logoutLink", @class = "navbar-item navbar-account-item" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="navbar-item navbar-account-item">Log off</a>
    </div>
    }
}
else
{
    @Html.ActionLink("Log in", "Login", "Account", new { area = "" }, new { id = "loginLink", @class = "navbar-item navbar-right navbar-account-item" })
    @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { id = "registerLink", @class = "navbar-item navbar-right navbar-account-item" })
}
