@using Fancy.Web.Areas.Admin.Models

@model AddItemViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Admin Area
</h1>

@using (Html.BeginForm("AddItem", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <fieldset>
        <legend>
            Add new item
        </legend>
        <label>
            Item Type:
        </label>
        @Html.EnumDropDownListFor(m => m.ItemType, "Select item type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ItemType, string.Empty, new { @class = "red" })
        <br />         
        <label>
            Material:
        </label>
        @Html.EnumDropDownListFor(m => m.MainMaterial, "Select material", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MainMaterial, string.Empty, new { @class = "red" })
        <br />  
        <label>
            Colour:
        </label>
        @Html.EnumDropDownListFor(m => m.MainColour, "Select colour", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MainColour, string.Empty, new { @class = "red" })
        <br />
        <label>Image:</label>
        @Html.TextBoxFor(m => m.Image, new { type = "file"})
        @Html.ValidationMessageFor(m => m.Image, string.Empty, new { @class = "red" })
        <br />
        <label>
            Item Code:
        </label>
        <br />
        @Html.TextBoxFor(m => m.ItemCode)
        @Html.ValidationMessageFor(m => m.ItemCode, string.Empty, new { @class = "red" })
        <br />
        <br />
        <label>
            Price:
        </label>
        <br />
        @Html.EditorFor(m => m.Price, new { @type = "number", @class = "form-control", @min = "0" })
        @Html.ValidationMessageFor(m => m.Price, string.Empty, new { @class = "red" })
        <br />
        <br />
        <label>
            Quantity:
        </label>
        <br />
        @Html.EditorFor(m => m.Quantity, new { @type = "number", @class = "form-control", @min = "0" })
        @Html.ValidationMessageFor(m => m.Quantity, string.Empty, new { @class = "red" })
        <br />
        <br />
        <button type="submit" class="btn btn-success">
            Add item
        </button>
    </fieldset>
    <hr />
}


